<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>
<body>

<style> 
  {% include 'css/staple.css' %}

  .row{
    margin: 0 auto;
  }

  #time{
    font-size: 100px;
    width: 100%;
    font-family: 'Oxygen Mono', monospace;
  }

  .timeInput{
    width: 100%;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 30px;
  }

  #submitButton{
    margin: 0 auto;
    width: 80%;
    display: block;
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  #alarmList{
    background-color: #f5f2d0;
    height: calc(100% - 50px);
  }
  
  #alarmAdd{
    height: 50px;
  }

  .alarmItem{
    background-color: #6c757d;
    margin: 5px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin: 15px;
    width: calc(100% - 30px);
  }
</style>

{% include 'navbar.html' %}
<div id="main-container" style="width: 100%; max-width: 1280px; margin: auto;">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <div class="list-group" id="alarmList" style="height: calc(100% - 65px); background-color: #f1f1f1; margin-top: 15px;">

        <!-- <div class="btn-group" role="group" style="width: 100%;">
          <button type="button" class="btn btn-secondary" style="width: 80%; font-size: 30px;">Study</button>
          <button type="button" class="btn btn-secondary" style="width: 20%; font-size: 30px;" index=0 onclick="removeAlarm(this)"><i class="fas fa-trash-alt"></i></button>
        </div> -->
      </div>

      <div class="row" id="alarmAdd">
        <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
          <button type="button" class="btn btn-secondary" style="width: 100%; background-color: #36393E; font-size: 40px; font-weight: 700;" data-toggle="modal" data-target="#addAlarmModal"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-8">
      <div class="row" style="text-align: center; margin-top: 200px; margin-bottom: 100px;">
        <p id="time" style="color: #36393E">Time</p>
      </div>
      <div class="row" style="width: 80%;">
        <div class="col-md-12 col-lg-6">
          <button type="button" class="btn btn-secondary timeInput" onclick="startButton()" style="background-color: #36393E; display: block;" id="toggleButton">Start!</button>
        </div>

        <div class="col-md-12 col-lg-6">
          <button type="button" class="btn btn-secondary timeInput" onclick="reset()" style="display: block;">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div><!--#main-container -->


<!-- Modal -->
<div class="modal fade" id="addAlarmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add alarm(s)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <input class="form-control timeInput" placeholder="Name" id="alarmNameInput" style="height: 50px;">
            <input type="number" class="form-control timeInput" placeholder="Time" id="alarmTimeInput">

            <div class="row">
              <div class="col-6">
                <label class="radio-inline"><input type="radio" name="optradio" id="bellAlarmRadio" checked>Bell Alarm (soft)</label>
              </div>
              <div class="col-6">
                <label class="radio-inline"><input type="radio" name="optradio" id="smokeAlarmRadio">Smoke Alarm (harsh)</label>
              </div>
            </div>

            <div class="row" style="text-align: center; margin-top: 15px;">
              <p style="width: 100%">Please input times in minutes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
        <button type="button" class="btn btn-secondary" style="background-color: #36393E;" onclick="addAlarm()">Add</button>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html' %}
</body>

<script>
  var secondsPerMinute = 2; // For testing, when deploying, set to 60

  var index = 0;
  var timeStarted;
  var timeToPlayAlarm;
  var f = displayTime;
  var bellAlarmSound = new Audio('http://soundbible.com/mp3/tolling-bell_daniel-simion.mp3');
  var smokeAlarmSound = new Audio('http://soundbible.com/mp3/Smoke%20Alarm-SoundBible.com-1551222038.mp3'); 
  update();

  function removeAlarm(){
    this.parentElement.parentElement.removeChild(this.parentElement);
    alarmItem = document.querySelectorAll(".alarmItem")[index];
    alarmItem.querySelectorAll("button")[0].className = "btn btn-secondary active";
    alarmItem.querySelectorAll("button")[1].className = "btn btn-secondary active";
  }

  function addAlarm(){
    alarmName = document.querySelector("#alarmNameInput").value;
    alarmTime = parseInt(document.querySelector("#alarmTimeInput").value, 10); 
    bellAlarm = document.querySelector("#bellAlarmRadio").checked;

    if(isNaN(alarmTime) || alarmName == ""){
      alert("Must fill in the inputs")
      f = displayTime;
    }else{
      list = document.querySelector("#alarmList");

      var newAlarm = document.createElement("div")
      newAlarm.className = "btn-group alarmItem"
      newAlarm.role = "group"
      newAlarm.setAttribute("time", alarmTime);
      newAlarm.setAttribute("bellAlarm", bellAlarm);

      buttonClassName = "btn btn-secondary";
      if(document.querySelectorAll(".alarmItem").length == 0){
        buttonClassName += " active";
      }

      var nameButton = document.createElement("button")
      nameButton.type = "button"
      nameButton.className = buttonClassName
      nameButton.style = "width: 80%; font-size: 30px;"
      nameButton.innerHTML = alarmName + "<br>" + alarmTime + " min";

      var removeButton = document.createElement("button");
      removeButton.type = "button"
      removeButton.className = buttonClassName
      removeButton.style = "width: 20%; font-size: 30px;"
      removeButton.onclick = removeAlarm;

      var removeIcon = document.createElement("i")
      removeIcon.className = "fas fa-trash-alt";

      removeButton.appendChild(removeIcon);
      newAlarm.appendChild(nameButton);
      newAlarm.appendChild(removeButton);
      list.appendChild(newAlarm)

      document.querySelector("#alarmNameInput").value = "";
      document.querySelector("#alarmTimeInput").value = "";
    }
  }

  function nothing(){

  }

  function startButton(){
    f = startAlarms;
  }

  function pause(){
    bellAlarmSound.pause();
    smokeAlarmSound.pause();
    timeRemaining = timeToStopAt - (Math.round(+ new Date() / 1000));
    document.querySelector("#toggleButton").innerHTML = "Restart";
    document.querySelector("#toggleButton").setAttribute("onclick", "restart()");
    f = nothing;
  }

  function restart(){
    timeToStopAt = Math.round(new Date() / 1000) + timeRemaining;
    document.querySelector("#toggleButton").innerHTML = "Pause";
    document.querySelector("#toggleButton").setAttribute("onclick", "pause()");
    f = displayRemainingTime;
  }

  function reset(){
    bellAlarmSound.pause();
    smokeAlarmSound.pause();
    timeStarted;
    firstAlarmItem = document.querySelectorAll(".alarmItem")[0];
    firstAlarmItem.querySelectorAll("button")[0].className = "btn btn-secondary active";
    firstAlarmItem.querySelectorAll("button")[1].className = "btn btn-secondary active";

    currentAlarmItem = document.querySelectorAll(".alarmItem")[index];
    currentAlarmItem.querySelectorAll("button")[0].className = "btn btn-secondary";
    currentAlarmItem.querySelectorAll("button")[1].className = "btn btn-secondary";

    index = 0;

    document.querySelector("#toggleButton").innerHTML = "Start!";
    document.querySelector("#toggleButton").setAttribute("onclick", "startButton()");

    f = displayTime;
  }

  function displayRemainingTime(){
    timeRemaining = timeToStopAt - (Math.round(+ new Date() / 1000));
    if (timeRemaining <= 0){
      f = playAlarm;
    }
    h = Math.floor(timeRemaining / 3600);
    h = checkTime(h);
    timeRemaining -= h * 3600;
    m = Math.floor(timeRemaining / 60);
    m = checkTime(m);
    timeRemaining -= m * 60;
    s = timeRemaining;
    s = checkTime(s);

    document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
  }

  function playAlarm(){
    alarmItem = document.querySelectorAll(".alarmItem")[index];
    if(alarmItem.getAttribute("bellalarm") == "true"){
      alarm = bellAlarmSound;
    }else{
      alarm = smokeAlarmSound;
    }
    if(alarm.paused){
      alarm.currentTime = 0
      alarm.play();
      timeToPlayAlarm = 100;
    }else{
      timeToPlayAlarm -= 1;
      if(timeToPlayAlarm <= 0){
        alarm.pause();
        index += 1;

        if(index == document.querySelectorAll(".alarmItem").length){
          alarmItem = document.querySelectorAll(".alarmItem")[index - 1];
          alarmItem.querySelectorAll("button")[0].className = "btn btn-secondary";
          alarmItem.querySelectorAll("button")[1].className = "btn btn-secondary";
          index = 0;
        }else{
          alarmItem = document.querySelectorAll(".alarmItem")[index - 1];
          alarmItem.querySelectorAll("button")[0].className = "btn btn-secondary";
          alarmItem.querySelectorAll("button")[1].className = "btn btn-secondary";
        }
        alarmItem = document.querySelectorAll(".alarmItem")[index];
          alarmItem.querySelectorAll("button")[0].className = "btn btn-secondary active";
          alarmItem.querySelectorAll("button")[1].className = "btn btn-secondary active";

        timeToStopAt = Math.round(new Date() / 1000) + document.querySelectorAll(".alarmItem")[index].getAttribute("time") * secondsPerMinute;
        f = displayRemainingTime;
      }
    }
  }

  function checkTime(i) {
    if (i < 10) {
      i = "0" + i;
    }
    return i;
  }

  function displayTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    // add a zero in front of numbers<10
    h = checkTime(h);
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
  }

  function startAlarms(){
    if(document.querySelectorAll(".alarmItem").length < 1){
      alert("Must create an alarm")
      f = displayTime;
    }else{
      timeToStopAt = Math.round(new Date() / 1000) + document.querySelectorAll(".alarmItem")[index].getAttribute("time") * secondsPerMinute; 
      document.querySelector("#toggleButton").innerHTML = "Pause";
      document.querySelector("#toggleButton").setAttribute("onclick", "pause()");
      f = displayRemainingTime;
    }
  } 

  function update(){
    f();

    setTimeout(function() {
      update();
    }, 50);
  }
</script>
</html>

