<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>
<body>

<style> 
  {% include 'css/staple.css' %}

  .row{
    margin: 0 auto;
  }

  #time{
    font-size: 100px;
    width: 100%;
    font-family: 'Oxygen Mono', monospace;
  }

  .timeInput{
    width: 80%;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }

  #submitButton{
    margin: 0 auto;
    width: 80%;
    display: block;
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
</style>

{% include 'navbar.html' %}
<div id="main-container" style="height: 100%; width: 100%; max-width: 1280px; margin: 0 auto;">
  <div class="row" style="text-align: center; margin-top: 200px; margin-bottom: 100px;">
    <p id="time" style="color: #36393E">Time</p>
  </div>
  <div class="row" style="width: 80%;">
    <div class="col-3">
      <input type="number" class="form-control timeInput" placeholder="Study" id="startTimeInput">
    </div>
    <div class="col-3">
      <input type="number" class="form-control timeInput" placeholder="Break" id="breakTimeInput">
    </div>

    <div class="col-3">
      <button type="button" class="btn btn-secondary timeInput" onclick="startAlarms()" style="background-color: #36393E" id="toggleButton">Start!</button>
    </div>

    <div class="col-3">
      <button type="button" class="btn btn-secondary timeInput" onclick="reset()" style="background-color: #36393E">Reset</button>
    </div>
  </div>

  <div class="row" style="text-align: center; margin-top: 15px;">
    <p style="width: 100%">Please input times in minutes</p>
  </div>
</div><!--#main-container -->

{% include 'footer.html' %}
</body>

<script>
  var timeStarted;
  var studyOrBreak = 0;
  var started = false;
  var paused = false;
  var stop = false;
  var alarm = new Audio('http://soundbible.com/mp3/Ship_Brass_Bell-Mike_Koenig-1458750630.mp3');

  function startAlarms(){
    started = true;
    studyTime = parseInt(document.querySelector("#startTimeInput").value, 10);
    breakTime = parseInt(document.querySelector("#breakTimeInput").value, 10);

    if(isNaN(studyTime) || isNaN(breakTime)){
      alert("Must fill in the inputs")
    }else{
      timeToStopAt = Math.round(new Date() / 1000) + studyTime * 60; 
      document.querySelector("#toggleButton").innerHTML = "Pause";
      document.querySelector("#toggleButton").setAttribute("onclick", "pause()");
      displayRemainingTime();
    }
  } 

  function pause(){
    paused = true;
    timeRemaining = timeToStopAt - (Math.round(+ new Date() / 1000));
    document.querySelector("#toggleButton").innerHTML = "Restart";
    document.querySelector("#toggleButton").setAttribute("onclick", "restart()");
  }

  function restart(){
    paused = false;
    timeToStopAt = Math.round(new Date() / 1000) + timeRemaining;
    document.querySelector("#toggleButton").innerHTML = "Pause";
    document.querySelector("#toggleButton").setAttribute("onclick", "pause()");
    displayRemainingTime();
  }

  function reset(){
    timeStarted;
    studyOrBreak = 0;
    started = false;
    paused = false;
    stop = true;

    document.querySelector("#startTimeInput").value = null;
    document.querySelector("#breakTimeInput").value = null;

    setTimeout(function() {
      startTime()
    }, 500);
  }

  function displayRemainingTime(){
    if (stop){
      return;
    }
    if(paused == false){
      timeRemaining = timeToStopAt - (Math.round(+ new Date() / 1000));
      console.log(timeRemaining);
      if (timeRemaining <= 0){
        playAlarm()
      }else{
        h = Math.floor(timeRemaining / 3600);
        h = checkTime(h);
        timeRemaining -= h * 3600;
        m = Math.floor(timeRemaining / 60);
        m = checkTime(m);
        timeRemaining -= m * 60;
        s = timeRemaining;
        s = checkTime(s);

        document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
        setTimeout(function() {
          displayRemainingTime()
        }, 500);
      }
    }
  }

  function playAlarm(){
    alarm.play();

    setTimeout(function() {
      alarm.pause();
      alarm.currentTime = 0;

      studyOrBreak = (studyOrBreak + 1) % 2;
      if(studyOrBreak == 0){ // Study
        timeToStopAt = Math.round(new Date() / 1000) + studyTime * 60; 
        displayRemainingTime();
      }else{ // Break
        timeToStopAt = Math.round(new Date() / 1000) + breakTime * 60; 
        displayRemainingTime();
      }
    }, 5000);
  }

  function checkTime(i) {
    if (i < 10) {
      i = "0" + i;
    }
    return i;
  }

  function startTime() {
    stop = false;
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    // add a zero in front of numbers<10
    h = checkTime(h);
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
    if(started == false){
      t = setTimeout(function() {
        startTime()
      }, 500);
    }
  }
  startTime();

</script>
</html>


